body{
    margin: 0;
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif
}

a{
    display: block;
}
.name{
    color: hsl(0, 0%, 100%);
}

.town{
    color: hsl(75, 94%, 57%);
}

.top-container{
    padding: 100px;
    padding-bottom: 0;
    text-align: center;
    
}
.middle-container{
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    margin: auto;
    border-radius: 70px;
    margin-bottom: 100px;
    padding: 100px 100px;
}

.middle-container img{
    border-radius: 50% 50% 50% 50% ;
}
.links{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.links{
    background-color: hsl(0, 0%, 20%);
    border-radius: 100px;
    padding: 20px;
    margin-bottom: 10px;
}

.links:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    font-weight: bold;
}

.challenge{
    color: hsl(0, 0%, 100%);
}

.challenge a{
    text-decoration: none;
    color: hsl(75, 94%, 57%);;
}

.description p{
    line-height: 2;
}