body{
    text-align: center;
    margin: 0;
    background-color: hsl(0, 0%, 8%);
}

.top-container{
    margin-top: 100px;
    
}
.middle-container{
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 100px;
    padding: 50px 50px;
}

.links a{
    text-decoration: none;
}