body {
  margin: 0;
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
}

.text-color {
  color: hsl(0, 0%, 100%);
}

.town {
  color: hsl(75, 94%, 57%);
}

.bg-body {
  background-color: hsl(0, 0%, 12%);
}
.middle-container {
  background-color: hsl(0, 0%, 12%);
}

.links {
  background-color: hsl(0, 0%, 20%);
}

.links:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
  font-weight: bold;
}

.challenge a {
  color: hsl(75, 94%, 57%);
}
